body {
  font-family: Segoe UI;
  margin: 0;
  background-color: #111;
  color: pink;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
}

nav li {
  display: inline-block;
}

nav a {
  color: tomato;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #111;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
}

.profile {
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  margin: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#hobbies {
  background-color: #222;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

#contact {
  text-align: center;
  margin: 20px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

button {
  padding: 10px;
  background-color: #222;
  color: pink;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: pink;
  color: #222;
}

button:active {
  background-color: white;
}

#output {
  margin: 20px;
}

footer {
  text-align: center;
  background-color: #222;
  padding: 10px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
    text-align: center;
  }

  header {
    flex-direction: column;
  }

  nav li {
    display: block;
  }

  .profile-pic {
    width: 80px;
    height: 80px;
  }

  #hobbies ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  input,
  button {
    width: 60%;
    padding: 10px 0px;
    margin: 8px 0;
  }
}
